{{ set navItems = collections['pages_' + lang] |> eleventyNavigation }}

			<ul role="list">
				{{ for navItem of navItems }}
				<li>
					<a class="link" href="{{ navItem.url }}"{{ if page.url === navItem.url }} aria-current="page"{{ /if }}>{{ navItem.data.title }}</a>
					{{ if navItem.children.length }}
					<ul role="list">
						{{ for child of navItem.children }}
						<li>
							<a class="link" href="{{ child.url }}"{{ if page.url === child.url }} aria-current="page"{{ /if }}>{{ child.data.title }}</a>
						</li>
						{{ /for }}
					</ul>
					{{ /if }}
				</li>
				{{ /for }}
			</ul>
