<div class="[ wrapper ]">
  <div class="[ brand ]">
  {{ set homeUrl = lang && lang === "en" ? "/" : `/${lang}/` }}

          <a rel="home" href="{{ homeUrl }}" aria-label="{{ site[lang].name }}"> {{ include 'svg/firm-wordmark.svg' }} </a>
  </div>
</div>
