<nav aria-label="{{ __ 'menu', {}, {lang, translations} }}">
   	{{ set navItems = collections['pages_' + lang] |> eleventyNavigation }}

	<ul role="list">
		{{ for navItem of navItems }}
		<li class="nav-link">
			<a href="{{ navItem.url }}"{{ if page.url === navItem.url }} aria-current="page"{{ /if }}>{{ navItem.data.title }}</a>
		</li>
		{{ /for }}
	</ul>
</nav>
