<incd-nav>
	<nav class="[ navigation ]" aria-label="{{ __ 'menu', {}, {lang, translations} }}">
	   	{{ set navItems = collections['pages_' + lang] |> eleventyNavigation }}
		<div class="[ wrapper ]">
          <div class="[ menu-toggle ]">
            <a
              class="button"
              href="/{{ if lang !== 'en' }}{{ lang }}/{{ /if }}menu/"
              aria-label="{{ __ 'Open menu', {}, {lang, translations} }}"
            >
              <svg
                role="presentation"
                class="open icon"
                xmlns="http://www.w3.org/2000/svg"
                width="45"
                height="44"
                fill="none"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="4"
                  d="M6 22h33M6 11h33M6 33h33"
                ></path>
              </svg>
            </a>
          </div>
			<ul role="list">
				{{ for navItem of navItems }}
				<li>
					<a class="link" href="{{ navItem.url }}"{{ if page.url === navItem.url }} aria-current="page"{{ /if }}>{{ navItem.data.title }}</a>
					{{ if navItem.children.length }}
					<ul role="list">
						{{ for child of navItem.children }}
						<li>
							<a class="link" href="{{ child.url }}"{{ if page.url === child.url }} aria-current="page"{{ /if }}>{{ child.data.title }}</a>
						</li>
						{{ /for }}
					</ul>
					{{ /if }}
				</li>
				{{ /for }}
			</ul>
		</div>
	</nav>
</incd-nav>
