<!DOCTYPE html>
<html
  lang="{{ lang }}"
  dir="{{ site[lang].languages.find(item => item.code === lang).dir }}"
>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    {{
      set pageTitle = title
        ? `${title} | ${site[lang ?? "en"].name}`
        : site[lang ?? "en"].name
    }}

    <title>{{ pageTitle }}</title>
    <link href="/assets/styles/app.css" rel="stylesheet" />
    <!-- uioStyles -->

    {{ include "partials/global/meta.vto" }}
    <!--<link rel="icon" href="/favicon.ico">-->
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" id="manifest">
    <script>
      const language = "{{ lang }}";
      const manifestUrl = `/manifest-${language}.json`;

      document.querySelector("#manifest").setAttribute(
        "href",
        manifestUrl,
      );
    </script>
    <script type="module" src="/assets/scripts/main.js"></script>
    <link href="/assets/styles/main.css" rel="stylesheet" />
    <link rel="preload" as="font" type="font/woff2" crossorigin>
    <!-- uioScripts -->
  </head>
  <body class='{{ bodyClass ?? "page" }}'>
    <!-- uioTemplate -->
    <header>
    	<div class="[ global ] [ inverse ]">
      		<div class="[ wrapper ] [ switcher ] [ step--1 ]">
		        <div>
		          <a rel="external" href="https://idrc.ocadu.ca/">
		            An Inclusive Design Research Centre Project
		          </a>
		        </div>
				{{ include "partials/global/language-selector.vto" }}
        	</div>
     	</div>
        {{ include "partials/global/brand.vto" }}
        {{ include "partials/global/navigation.vto" }}
    </header>

    <main class="[ flow ] [ prose ]">
      <div class="[ flow ] [ hero ] [ region ]">
        <div class="[ wrapper ]">
          <h1>{{ title }}</h1>
        </div>
      </div>
      <div class="[ flow ] [ region ] [ wrapper ]">
        {{ content }}
        </div>
      </article>
    </main>
    {{ include "partials/global/footer.vto" }}
    <!-- uioCustomInit supportedLanguages[lang].uioSlug, supportedLanguages[lang].dir -->
  </body>
</html>
