---
url: /admin/index.html
id: admin
unlisted: true
lang: en
---
<!DOCTYPE html>
<html>
  <head>
    {{ include "../_includes/partials/global/meta.vto" }}
    <title>Content Manager</title>
  </head>
  <body>
    <script src="https://unpkg.com/@sveltia/cms/dist/sveltia-cms.js"></script>
  </body>
</html>
