---
lang: [en, fr]
en:
  url: /manifest-en.json
fr:
  url: /manifest-fr.json
---
{ "name": "{{ site[lang].name }}", "icons": [ { "src": "/icon-192.png", "type":
"image/png", "sizes": "192x192", "purpose": "any maskable" }, { "src":
"/icon-512.png", "type": "image/png", "sizes": "512x512" } ] }
