:root {
  --base-font-family: "Atkinson Hyperlegible Next", sans-serif;
}

body {
  font-family: var(--base-font-family);
}

.visually-hidden {
  border: 0;
  /* stylelint-disable-next-line property-no-deprecated */
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
